<div class="container">


  <div class="weather-card" *ngIf="weatherData; else loadingTemplate">


    <div class="left">
      <h2>{{ currentDay }}  {{ currentDate }}</h2>
      <h2>{{ weatherData?.name }}</h2>
      <p>{{ weatherData?.weather?.[0]?.main }}</p>

      <div class="temp">
        {{ weatherData?.main?.temp }}°C
      </div>
    </div>


    <div class="right">

      <!-- Weather details -->
      <div class="details">
        <p>💧 Humidity: {{ weatherData?.main?.humidity }}%</p>
        <p>🌬️ Wind: {{ weatherData?.wind?.speed }} km/h</p>
        <p>☁️ Clouds: {{ weatherData?.clouds?.all }}%</p>
      </div>

      <!-- Forecast cards -->
      <div class="forecast">
        <div class="forecast-card" *ngFor="let day of forecastData">
          <p class="day">{{ day?.dt_txt | date:'EEE' }}</p>
          <img 
            [src]="'https://openweathermap.org/img/wn/' + day?.weather?.[0]?.icon + '@2x.png'"
            alt="icon"
          />
          <p class="temp">{{ day?.main?.temp }}°C</p>
          <p class="condition">{{ day?.weather?.[0]?.main }}</p>
        </div>
      </div>

      <div class="search">
        <input [(ngModel)]="cityInput"
               (keyup.enter)="search()"
               placeholder="Change location" />
        <button (click)="search()">Search</button>
      </div>

    </div>

  </div>

  <ng-template #loadingTemplate>
    <div class="loading">Loading weather data...</div>
  </ng-template>

</div>